
.card{
    width: 70%;
    margin: 50px auto;
}

.text-end{
    position: absolute;
    bottom: 2px;
    right: 5px;
}

h4{
    background-color: aliceblue;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}