.news_container{
    margin-top: 80px;
}
#cat_row{
    justify-content: center;
}
.list-group{
    margin-top: 40px;
    margin-left: 10px;
}

.list-group li:hover{
    cursor: pointer;
}
h3{
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
}
.news{
    margin-top: 50px;
    background-color: #fbfbfb;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 15px;
    
}
.img-fluid{
    height: 200px;
    width: 300px;
    border-radius: 15px;
}
span.badge{
    color: #fff;
}
u{
    cursor: pointer;
}
.date{
    position: absolute;
    right: 0;
    bottom: 2px;
}
button{
    margin-left: 10px;
}